body {
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, 0.616);
}

.sidebar header {
    line-height: 70px;
    background: rgba(63, 61, 61, 0.432);
    user-select: none;
    align-items: center;
    text-align: center;
}

.sidebar header img{
    height: 100px;
    width: 200px;
    aspect-ratio: 4/3;
    object-fit: contain;
    
}

.sidebar ul a {
    display: block;
    width: 100%;
    line-height: 60px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

ul li:hover a {
    background-color: rgba(107, 103, 103, 0.342);
}

ul li {
    list-style: none;
}

.sidebar ul a i {
    margin-right: 10px;
}

.sidebar i {
    font-size: 30px;
}

.sidebar ul {
    margin-top: 5px;
}

/* Dashboard */
.feed-dash {
    margin-left: 300px;
    padding: 20px;
    height: 100vh; /* Defina a altura conforme necessário */
    overflow-y: auto; /* Ativa a barra de rolagem vertical */
    scrollbar-width: thin; /* Para navegadores Firefox */
    scrollbar-color: #888 #f1f1f1; /* Para navegadores Firefox */
}

/* Estilo para navegadores baseados em Webkit (Chrome, Safari) */
.feed-dash::-webkit-scrollbar {
    width: 12px;
}

.feed-dash::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra de rolagem */
    border-radius: 50px; /* Cantos arredondados */
}

.feed-dash::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da barra de rolagem */
    border-radius: 50px; /* Cantos arredondados */
    border: 3px solid #f1f1f1; /* Cria um espaço em volta da barra */
}

.feed-dash::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor ao passar o mouse */
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Cards Row */
.cards-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.card-dash {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin: 20px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(46, 46, 46, 0.39);
}
.card-dash .corDoador{
    color: rgb(68, 196, 56);
    
}
.card-dash .corOng{
    color: rgb(63, 135, 243);
}
.card-dash i h4 h3{
text-align: center;
}

.card-dash i{
    font-size: 50px;
    
}

/* Graphics Row */
.graphics-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.center{
    text-align: center;
    margin: 10px;
}

.graphic-ong, .graphic-doador {
    box-shadow: 0 4px 8px rgba(46, 46, 46, 0.39);
    height: auto;
    border-radius: 8px;
    flex: 1;
    margin: 20px;
}

/* Título da seção */
.feed-dash h2 {
    font-size: 28px;
    font-weight: bold;
    color: rgb(35, 148, 25);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.feed-dash .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-dash .row span {
    font-size: 18px;
    color: rgb(86, 112, 142);
}

/* Ícones de Editar e Deletar */
td a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}
td i{
    font-size: 3rem;
}
td a i {
    margin-right: 5px;
    font-size: 1.8rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Efeito de Hover nos links e ícones */


.bi-pencil-square {
    color: #007bff;
}

.bi bi-person-fill-slash {
    color: #dc3545;
}

/* Efeito de Hover nos Ícones Individuais */



td a.delete:hover i {
    color: #dc3545;
}

/* Estilo da Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
}

thead th {
    padding: 12px 15px;
    font-weight: bold;
    text-transform: uppercase;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

tbody tr:hover {
    background-color: rgba(195, 196, 195, 0.1);
}

td {
    padding: 12px 15px;
}

/* Input de Pesquisa */
.nav-pesquisa {
    margin-top: 20px;
}

.nav-pesquisa .input-field {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.nav-pesquisa input[type="search"] {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 2px solid rgba(95, 95, 95, 0.315);
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-pesquisa input[type="search"]:focus {
    border-color: rgb(68, 196, 56);
}

.nav-pesquisa i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
}
/* Seção de ONGs */
.ong-section {
    margin-top: 20px;
}

.ong-header h2 {
    font-size: 28px;
    font-weight: bold;
    color: rgb(74, 110, 163); /* Azul para ONGs */
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.ong-header .row span {
    font-size: 18px;
    color: rgb(86, 112, 142);
}

/* Input de Pesquisa da Seção de ONGs */
.ong-search .input-field {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.ong-search input[type="search"] {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 2px solid rgba(91, 91, 92, 0.5); /* Azul claro */
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.ong-search input[type="search"]:focus {
    border-color: rgb(74, 110, 163);
}

.ong-search i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: rgba(70, 71, 73, 0.7);
}

/* Tabela de ONGs */
.ong-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff;
    text-align: center;
}

.ongs-table thead {
    background-color: rgb(55, 115, 206); /* Azul para ONGs */
    color: white;
}

/* Estilo específico para a tabela de Doadores */
#doadores-table thead {
    background-color: rgb(54, 155, 45); /* Verde para Doadores */
    color: white;
}

.ong-table thead th {
    padding: 12px 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.ong-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.ong-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.ong-table tbody tr:hover {
    background-color: rgba(195, 196, 195, 0.1); /* Leve destaque em azul */
}

.ong-table td {
    padding: 12px 15px;
}

/* Ícones de Editar e Deletar */
.ong-table td a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.ong-table td a i {
    margin-right: 5px;
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.ong-table td i{
    font-size: 3rem;
}

/* Efeito de Hover nos Ícones */
.ong-table td a:hover {
    color: rgb(63, 135, 243);
}

.ong-table td a:hover i {
    transform: scale(1.2);
    color: rgb(63, 135, 243);
}

/* Responsividade */
@media (max-width: 768px) {
    .feed-dash {
        margin-left: 0;
    }

    .cards-row, .graphics-row {
        flex-direction: column;
    }

    table {
        font-size: 14px;
    }

    .nav-pesquisa .input-field {
        max-width: 100%;
    }
    .ong-section {
        margin-left: 0;
    }

    .ong-table {
        font-size: 14px;
    }

    .ong-search .input-field {
        max-width: 100%;
    }
}
