* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    background-color: #fdfcfcc5;
}

.grad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background: linear-gradient(to bottom, #c5f3b5, #bddef8);
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}

.grad img {
    width: 80%;
    max-width: 800px;
    margin-bottom: 20px;
}

.container {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.formulario {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border: 1.5px solid #dfd7d7;
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

form a{
    text-decoration: none;
    color: white;
    text-align: center;
}

form h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

form p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.6rem;
}

form label {
    margin-bottom: 5px;
    font-weight: 600;
}

form input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
}

form input::placeholder {
    color: #aaa;
}

form .button {
    background: linear-gradient(to right, rgba(88,169,195,1) 0%, rgb(127, 223, 164) 100%);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}

form .button:hover {
    background: linear-gradient(90deg, rgb(127, 223, 164) 0%, rgba(88,169,195,1) 100%);
}