* {
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #cedce7, #b2e6a1);
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
form{
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
}
form a{
    text-decoration: none;
    color: white;
    text-align: center;
}

form h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

form label {
    margin-bottom: 5px;
    font-weight: 600;
}

form input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
}

form input::placeholder {
    color: #aaa;
}

form .button {
    background: linear-gradient(to right, rgba(88,169,195,1) 0%, rgb(127, 223, 164) 100%);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}

form .button:hover {
    background: linear-gradient(90deg, rgb(127, 223, 164) 0%, rgba(88,169,195,1) 100%);
}
