* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    background-color: #fdfcfcc5;
}

.grad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background: linear-gradient(to bottom, #c5f3b5, #bddef8);
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}

.grad img {
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
}

.container {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.m-2{
    margin: 12px;
}

.p-4{
    padding: 24px;
}

.formulario {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border: 1.5px solid #dfd7d7;
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
   

    & .imgPerfil{
        border: 3px solid #87a5bd;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        position: relative;
        box-shadow: 2px 3px 11px #00000060;
        overflow: hidden;
        cursor: pointer;
        margin: 0 auto; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
         margin-bottom: 10px ;
    }

    & .imgPerfil img{
        object-fit: cover;
    }

    & .imgPerfil i{
        position: absolute;
        margin: 0 auto;
        font-size: 95px;
        color: #89adc9;
    }

    & #img-field{
        position: absolute;
        margin: 0 ;
        width: 100px;
        height: 100px;
        opacity: 0;
        cursor: pointer;
    }
}

form {
    display: flex;
    flex-direction: column;
}

form h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

form label {
    margin-bottom: 5px;
    font-weight: 600;
}

form input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
}

form input::placeholder {
    color: #aaa;
}

form a{
    text-decoration: none;
    color: white;
    text-align: center;
}

form .button {
    background: linear-gradient(to right, rgba(88,169,195,1) 0%, rgb(127, 223, 164) 100%);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}

form .button:hover {
    background: linear-gradient(90deg, rgb(127, 223, 164) 0%, rgba(88,169,195,1) 100%);
}

form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
    resize: none; /* Impede o redimensionamento */
    overflow-y: auto; /* Adiciona rolagem vertical, se necessário */
    box-sizing: border-box;
}
