body {
    
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: inherit;
}

.wrapper {
    padding: 10px;
}

.wrapper .top_navbar {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #ffffffde;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.wrapper .top_navbar .hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    background-color: #2e8b57;
    padding: 10px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

.wrapper .top_navbar .hamburguer div {
    width: 30px;
    height: 4px;
    background: #8fbc8f;
    margin: 5px 0;
    border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
    width: calc(100% - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.wrapper .top_navbar .top_menu .logo img {
    width: 200px;
    height: 50px;
    margin-top: 5px;
}

.wrapper .top_navbar .top_menu ul {
    display: flex;
}

.wrapper .top_navbar .top_menu ul li a {
    display: block;
    margin: 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #2e8b57;
    text-align: center;
    border-radius: 50%;
    color: #2e8b57;
    transition: all 0.3s ease;
    margin-top: 5px;
}

.wrapper .top_navbar .top_menu ul li a:hover {
    background: #3cb371;
    color: #fff;
}

.wrapper .sidebar{
    position: fixed;
    top: 60px;
    left: 0px;
    background: #2e8b57;
    width: 200px;
    height: 100%;
    transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #8fbc8f;
    list-style: none;
    text-decoration: none;
    white-space: nowrap;
}

.wrapper .sidebar ul li a::before{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    background: #8fbc8f;
    display: none;
}

.wrapper .sidebar ul li a span.icon{
    margin-right: 10px;
    display: inline-block;

}

.wrapper .sidebar ul li a span.title{
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active
{
    background: #3cb371;
    color: #ffff;
}

.wrapper .sidebar ul li a:hover::before,
.wrapper .sidebar ul li a.active::before
{
    display: block;
}


.wrapper.collapse .sidebar {
    width: 70px;
}

.wrapper.collapse .container {
    width: calc(100% - 100px);
    margin-left: 100px;
}

.wrapper.collapse .sidebar ul li a{
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon{
    margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
    display: none;
}

/*perfi*/
.wrapper .container{
    width: calc(100% - 200px);
    margin-top: 75px;
    margin-left: 200px;
    padding: 15px;
    transition: all 0.3s ease;
    overflow: hidden;
    background: #ffffff;
    display: flex;
    height: 100%;
}

.profile{
    flex: 1;
    margin-right: 10px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 4px;
    height: max-content;
    color: #2b2929;
    padding: 20px;
}

.profile-header{
    display: flex;
    margin-left: 1px;
}

.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.status{
    color: #777;
    margin-top: 5px;
}

.profile-img img{
    object-fit: cover;
    object-position: center;
}

#file{
    display: none;
}

#uploadbtn{
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 5px 7px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    background-color: #2e8b57;
    margin-top: 80px;
    justify-content: center;
    transform: translateX(-190%);
    align-items: center;
}

.profile-title{
    font-size: 10px;
    margin-bottom: 15px;
}

.profile-email{
    font-size: 15px;
    margin-top: 4px;
}

.menu{
    margin: 0 10px; 
    margin-left: 3px;  
}

.menu-link{
    display: block;
    text-decoration: none;
    color: #306346;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 14px;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-icon{
    margin-right: 15px;
}

.menu-link:first-child {
    background-color: transparent; /* Remover o fundo azul por padrão */
    color: #306346; /* Definir a cor do texto para o padrão */
}
.menu-link.active {
    background-color: #306346;
    color: #fff;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.menu-link:hover {
    background-color: #f3f5f9;
    color: #4f6b51;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-link:first-child.active {
    background-color: #306346; /* Fundo azul ativo */
    color: #fff;
}

.account{
    flex: 2;
    margin-left: 10px;
    background-color: #fff;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 4px;
}

.account-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #4f5a6b;
}

.account-tittle{
    font-size:25px;
    color: #589662;
    font-weight: 500;
    margin-left: 10px;
}

.btn-container{
    margin-right: 5px;
}

.btn-cancel{
    width: 6em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #76997b;
    border-radius: 5px;
    color: #4f5a6b;
    font-weight: bold;
    margin-right: 5px;
    background-color: #fff;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.btn-cancel:hover{
    background-color: #f1f9f3;
}

.btn-save{
    width: 6em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #306346;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
    background-color: #306346;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.btn-save:hover{
    background-color: #37ac5a;
}

.account-edit{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.input-container label{
    color: #494b4e;
    font-size: 15px;
    margin-bottom: 5px;
}

.input-container input{
    border: 1.5px solid #769976;
    border-radius: 5px;
    padding: 10px;
    width: 170px;
    color: #76997f;
}

.input-container input:focus{
    outline: none;
    border: 1.5px solid #306346;
}

.input-container textarea{
    display: block;
    width: 100%;
    height: 118px;
    padding: 5px;
    border: 1.5px solid #768499;
    color: #768499;
    border-radius: 5px;
    resize: none;
}

.input-container textarea:focus{
    outline: none;
    border: 1.5px solid #306346;
}

/* Texto de aviso para exclusão de conta */
.warning-text {
    color: #ff4d4d;
    font-size: 14px;
    margin: 10px 0;
}

/* Botão de excluir conta */
.btn-excluir {
    width: 8em;
    height: 3em;
    cursor: pointer;
    border: 1px solid #ff4d4d;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    background-color: #ff4d4d;
    transition-duration: 0.3s;
}

.btn-excluir:hover {
    background-color: #cc0000;
}

.account-settings{
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 4px;
}

/* Estilizando o modal */
.modal {
    display: none; /* O modal começa oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Certifique-se de que o modal esteja acima da navbar */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    z-index: 10000; /* Conteúdo do modal fica acima do fundo */
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmLogout {
    background-color: white; /* Cor para o botão "Sim" */
    color: #306346;
    border: 2px solid #306346;
}

#cancelLogout {
    background-color: #306346; /* Cor para o botão "Não" */
    color: white;
}