body {
    
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: inherit;
}

.wrapper {
    padding: 10px;
}

.wrapper .top_navbar {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.wrapper .top_navbar .hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    background-color: #2e8b57;
    padding: 10px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

.wrapper .top_navbar .hamburguer div {
    width: 30px;
    height: 4px;
    background: #8fbc8f;
    margin: 5px 0;
    border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
    width: calc(100% - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.wrapper .top_navbar .top_menu .user{
    position: relative;
    /* Empurra a seção do usuário para a direita */
    padding-right: 10px;
}

.wrapper .top_navbar .top_menu .user img{
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    transition: background 0.3s ease;
    cursor: pointer;
    border: 3px solid #8faff3;
}

.dropdown-menu {
    position: absolute;
    top: 105%; /* Exatamente abaixo do .user */
    left: 50%; /* Centraliza o dropdown em relação à imagem */
    transform: translateX(-80%); /* Ajusta para alinhar exatamente ao centro */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Inicialmente escondido */
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    min-width: 120px;
    transition: all 0.3s ease;
    z-index: 1000;
}

.dropdown-menu a {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: background 0.2s;
}

.dropdown-menu a i {
    margin-right: 12px;
    font-size: 16px;
    color: #37518a;
    margin-left: 10px;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.user:hover .dropdown-menu {
    display: flex; /* Exibe o menu ao passar o mouse */
    opacity: 1;
}

.wrapper .top_navbar .top_menu .logo img {
    width: 200px;
    height: 50px;
    margin-top: 5px;
}

.wrapper .top_navbar .top_menu ul {
    display: flex;
    margin-left: auto; /* Alinha os elementos ao final */
    margin-right: 20px; /* Ajusta a margem à direita */
}

.wrapper .top_navbar .top_menu ul li a {
    display: block;
    margin: 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #2e8b57;
    text-align: center;
    border-radius: 50%;
    color: #2e8b57;
    transition: all 0.3s ease;
    margin-top: 5px;
}

.wrapper .top_navbar .top_menu ul li a:hover {
    background: #3cb371;
    color: #fff;
}

.wrapper .sidebar{
    position: fixed;
    top: 60px;
    left: 0px;
    background: #2e8b57;
    width: 210px;
    height: 100%;
    transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #8fbc8f;
    list-style: none;
    text-decoration: none;
    white-space: nowrap;
}

.wrapper .sidebar ul li a::before{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    background: #8fbc8f;
    display: none;
}

.wrapper .sidebar ul li a span.icon{
    margin-right: 10px;
    display: inline-block;

}

.wrapper .sidebar ul li a span.title{
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active
{
    background: #3cb371;
    color: #ffff;
}

.wrapper .sidebar ul li a:hover::before,
.wrapper .sidebar ul li a.active::before
{
    display: block;
}

.wrapper .main_container{
    width: calc(100% - 100px);
    margin-top: 50px;
    margin-left: 100px;
    padding: 15px;
    transition: all 0.3s ease;
    overflow: hidden;
    background: #ffffff;
    align-items: center;
}

.wrapper .main_container .item{
background: #fff;
margin-bottom: 10px;
padding: 15px;
line-height: 22px;
box-shadow: 0 2px 2px rgba(48, 47, 47, 0.2);
}

.wrapper.collapse .sidebar {
    width: 70px;
}

.wrapper.collapse .main_container {
    width: calc(100% - 220px);
    margin-left: 220px;
}

.wrapper .main_container {
    width: calc(100% - 340px);
    margin-left: 100px;
    padding: 15px;
    transition: all 0.3s ease;
   
}

.wrapper.collapse .sidebar ul li a{
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon{
    margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
    display: none;
}

.wrapper .top_navbar .top_menu ul li.search {
    position: relative;
    display: flex;
    align-items: center;
}

.wrapper .top_navbar .top_menu ul li.search input[type="search"] {
    width: 0;
    height: 35px;
    border: 1px solid #2e8b57;
    border-radius: 5px;
    padding: 0;
    margin-left: 10px;
    opacity: 0;
    transition: all 0.3s ease;
    background-color: #fff;
    color: #2e8b57;
    font-size: 14px;
    outline: none;
}

.wrapper .top_navbar .top_menu ul li.search.expanded input[type="search"] {
    width: 200px;
    padding: 5px 10px;
    opacity: 1;
}

.wrapper .top_navbar .top_menu ul li.search input[type="search"]::placeholder {
    color: #2e8b57;
}
/* Estilo para o ícone de filtro e os botões */
.wrapper .top_navbar .top_menu ul li.filter {
    position: relative;
    display: flex;
    align-items: center;
}

.results-container {
    position: absolute; /* Permite que o container siga a barra de pesquisa */
    top: 100%; /* Fica logo abaixo da barra de pesquisa */
    right: 7%; /* Alinhado à esquerda do input */
    width: 250px; /* A mesma largura do input de pesquisa quando expandido */
    margin-top: 0; /* Espaço entre a barra de pesquisa e os resultados */
    display: none; /* Oculto inicialmente */
    background-color: #2d4c7c; /* Fundo branco para o container */
    z-index: 1000; /* Certifique-se de que fique acima de outros elementos */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 12px;
}

.ong-card {
    display: flex;
    width: 100%;
    align-items: center; /* Alinha a imagem e o texto verticalmente */
    margin-bottom: 10px; /* Espaço entre os cards */
    padding: 10px;
    border-bottom: 1px solid #a39e9e; /* Borda para os cards */
    background-color: #ffffff; /* Fundo dos cards */
    cursor: pointer;
}

.ong-photo {
    width: 30px; /* Tamanho da foto */
    height: 30px; /* Tamanho da foto */
    border-radius: 50%; /* Foto redonda */
    margin-right: 10px; /* Espaço entre a foto e o texto */
    object-fit: cover;
    object-position: center;
}

.ong-card h3, .ong-card p {
    margin: 0; /* Remove margens dos textos */
}

/* Estilo dos botões de filtro */
.wrapper .top_navbar .top_menu ul li.filter .filter-buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    left: 40px; /* Posição inicial para que fiquem ao lado do ícone */
    top: 50%; /* Centraliza os botões em relação ao ícone */
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s ease, left 0.5s ease;
    /* Transição suave de 0.5s para left e opacity */
}

.wrapper .top_navbar .top_menu ul li.filter.expanded .filter-buttons {
    opacity: 1;
    visibility: visible;
    left: 60px; /* Move suavemente os botões para a direita */
    transition: opacity 0.5s ease, visibility 0s 0s ease, left 0.5s ease;
    /* Transição inversa com delay de 0s para visibility ao expandir */
}

.wrapper .top_navbar .top_menu ul li.filter .filter-buttons button {
    background-color: #2e8b57;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wrapper .top_navbar .top_menu ul li.filter .filter-buttons button:hover {
    background-color: #3cb371;
}

/* Estilo adicional para manter o layout responsivo */
.wrapper .top_navbar .top_menu ul li.filter.expanded {
    padding-right: 440px; /* Garante que haja espaço para os botões */
}

/*feed*/
.card-postagem{
    position: relative;
    width: 450px;
    margin-left: 250px;
    height:auto;
    background: #fff;
    box-shadow: 0 2px 2px rgba(48, 47, 47, 0.2);
    padding: 20px;
    margin-top: 40px;
}

.card-postagem .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-postagem .top .userDetails{
    display: flex;
    align-items: center;
}
.card-postagem .top .profileImg{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden;
}

.cover{
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
    cursor: pointer;
}
.card-postagem .top .userDetails h3{
    font-size: 16px;
    color: #2d2d2e;
    font-weight: 700;
    line-height: 1rem;
    cursor: pointer;
    margin-bottom: 13px;
    display: block;
}

.card-postagem .top .userDetails span{
    font-size: 0.90rem;
    color: #3f3f419c;
}

.card-postagem .top .dot{
    transform: scale(0.6);
    cursor: pointer;
    font-size: 40px;
}

.imgBg{
    position: relative;
    width: 100%;
    height: 300px;
    margin: 10px 0 10px;
    border-radius: 30px;
}

.imgBg img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns img{
    max-width: 25px;
    cursor: pointer;
}

.btns .left img{
    margin-left: 5px;
} 

.likes{
    margin-top: 5px;
    font-size: 0.90rem;
    color: #4d4d4f;
}

.message{
    font-weight: 400;
    margin-top: 5px;
    color: #777;
    line-height: 1.5rem;
}

.message b{
    color: #262626;
}

.message span{
    color: #32a1cd;
    cursor: pointer;
}

.comments{
    margin-top: 10px;
    align-items: center;
    color: #999;
}

.addComments{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.addComments .userImg img{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 8px;
}

.addComments .text{
    width: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    color: #262626;
}

.addComments .text::placeholder{
    color: #777;
}

.postTime{
    margin-top: 10px;
    font-weight: 500;
    color: #777;
}


/* Container que vai ocupar o espaço oposto à navbar */
.container-right {
    position: fixed;
    right: 0;
    top: 60px; /* Alinhado ao topo da barra de navegação */
    width: calc(100% - 1000px); /* Ocupa o espaço restante ao lado da sidebar */
    height: 100%; /* Altura total da página */
    overflow-y: none; /* Adiciona barra de rolagem apenas no conteúdo interno */
    background-color: #ffffff; /* Cor de fundo do container */
    padding: 20px; /* Padding para afastar o conteúdo das bordas */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
}

.wrapper.collapse .container-right {
    width: calc(100% - 880px); /* Ajuste o tamanho do container quando a sidebar está colapsada */
}

/* Estilo do mini card */
.mini-card {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    transition: transform 0.3s;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 15px;
}

.mini-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Estilo da imagem de perfil redonda */
.mini-card .profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

/* Estilo do nome e texto "Recomendados" */
.mini-card .info h4 {
    font-size: 16px;
    margin: 0;
    color: #333;
}

.mini-card .info p {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
}

/*slide de campanhas*/
.header-campanhas {
    display: flex;
    justify-content: space-between; /* Empurra o botão para a direita */
    align-items: center; /* Alinha o título e o botão verticalmente */
    margin-bottom: 10px; /* Espaçamento inferior entre o título/botão e o restante da página */
}

.header-campanhas h3 {
    margin: 0; 
    font-size: 25px;/* Remove margens extras do título */
}

.header-campanhas button {
    background-color: #28a745; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 5px;
    padding: 10px 15px; /* Tamanho do botão */
    cursor: pointer;
    font-size: 16px;
    display: flex; /* Para alinhar o ícone e o texto dentro do botão */
    align-items: center;
}

.header-campanhas button i {
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

.header-campanhas button:hover {
    background-color: #218838; /* Cor ao passar o mouse */
}

.campanhas {
     margin-top: 20px;
    max-height: auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    white-space: nowrap;
    margin-left: 10%;  /* Ajuste a margem à esquerda de forma relativa */
    margin-right: 10%; /* Ajuste a margem à direita de forma relativa */
    
    /* Defina a largura usando calc para somar o espaço das margens relativas */
    width: calc(100% - 20%); /* 100% menos a soma das margens de ambos os lados */
}

.campanhas-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estiliza a scrollbar no Chrome, Edge, Safari */
.campanhas::-webkit-scrollbar {
    height: 0px; /* Altura da scrollbar */
}

/*
.campanhas::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
}

.campanhas::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

.campanhas::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da scrollbar 
}
    */

/* Itens dentro do container */
.campanhas .card {
    min-width: 300px; /* Define a largura mínima para os cards */
    flex-shrink: 0; /* Impede que os cards diminuam de tamanho */
    width: 300px;
    display: block;
    height: auto; /* Ajuste automático de altura para se adaptar ao conteúdo */
    line-height: auto;
    background: white;
    margin-right: 10px;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease; /* Transição suave para todas as propriedades */
    overflow: hidden; /* Garante que o conteúdo que ultrapassa o card seja escondido */
    box-sizing: border-box; /* Inclui padding e borda dentro da largura */
}

.card.active .image img{
    opacity: 0.5;
    transform: scale(1.05);
    transition: transform 0.5s ease, opacity 0.5s ease; /* Suavizar a transição */
}

.card .image{
    background: transparent;
    height: 330px;
    overflow: hidden;
}

.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease; /* Transição suave para a imagem */
}

.perfilImgCampanha {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    margin: 0 auto; /* Centralizar */
    transition: all 0.3s ease-in-out; /* Transição suave */
}

.perfilImgCampanha img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content{
    position: absolute;
    bottom: 0px;
    background: white;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
    transition: all 0.5s ease-in-out; /* Suavizar a transição do conteúdo */
}

.content .text-content {
    display: block;
    align-items:center;
    text-align: center;
   
}

.content .title {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}

.content .sub-title {
    font-size: 12px;
    font-weight: 700;
    color: #3c64e7;
    margin-bottom: 5px;
}

.bottom p{
    color: #303030;
    font-size: 13px;
    text-align: justify;
    line-height: 1em;
    word-wrap: break-word; /* Permite a quebra de linha para palavras longas */
    word-break: break-word; /* Garante que as palavras grandes também quebrem */
    overflow-wrap: break-word; /* Garante que o conteúdo não "estoure" */
    max-width: 100%; /* Garante que o parágrafo não ultrapasse a largura do card */
    box-sizing: border-box;
    overflow: hidden; /* Oculta qualquer parte do texto que ultrapasse o limite do card */
    white-space: normal; /* Garante que o texto quebre em várias linhas */
    text-overflow: ellipsis; /* Trunca o texto se for muito longo */
    transition: all 0.4s ease;
}

.bottom button{
   float: left; 
   padding: 7px 12px;
   font-size: 15px;
   background: #37518a;
   color: white;
   font-weight: 500;
   border: none;
   margin: 10px 0;
   cursor: pointer;
   transition: all 0.3s ease;
   border-radius: 5px;
}

.bottom button:hover{
    transform: scale(1.05);
    background: #147cdd;
}

.bottom{
    display: none;
}

/* Estilo do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    display: flex;
    flex-direction: row;
    margin: 5% auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    height: 80%;
    position: relative;
  }

  /* Estilo para o fundo escurecido quando o modal estiver ativo */
.modal-logout {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Estilo para o conteúdo do modal */
.modal-content-logout {
    background-color: #ffffff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Estilo para o título */
.modal-content-logout h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333333;
}

/* Estilo para o texto */
.modal-content-logout p {
    font-size: 16px;
    color: #666666;
    margin: 15px 0;
}

/* Estilo para o botão de confirmar */
.confirm-button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.confirm-button:hover {
    background-color: #ff3333;
}

/* Estilo para o botão de cancelar */
.cancel-button {
    background-color: #cccccc;
    color: #333333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button{
    background-color: transparent;
    border: none;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    transition: background 0.2s;
    width: 100%;
}
.logout-button i{
    margin-right: 8px;
    font-size: 16px;
    color: #37518a;
}

.logout-button:hover{
    background-color: #f0f0f0;

}

  /* Botão de fechar dentro do modal */
  .close {
    position: absolute;
    top: 2px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
  }
  
  /* Lado esquerdo: imagem da postagem */
  .modal-left {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap; /* Permite que as imagens se ajustem */
    justify-content: flex-start; /* Alinha à esquerda */
  }
  .modal-image {
    width: 100px; /* Defina um tamanho fixo ou máximo */
    height: auto; /* Mantém a proporção da imagem */
    margin: 5px; /* Espaço entre as imagens */
}
  
  .modal-left img {
    width: 100%;
    height: 85%;
    object-fit: cover; /* Para garantir que a imagem ocupe toda a altura */
    margin-bottom: 58px;
    border-radius: 10px;
    align-items: center;
  }
  
  /* Lado direito: seção de comentários */
  .modal-right {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }

  .modal-right h3{
    margin-bottom: 10px;
  }
  
  .comments-section {
    flex-grow: 1;
    max-height: 75%;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  
  /* Estilo de cada comentário */
  .comment {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .comment-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
}
  
  .comment-content {
    flex: 1;
    background-color: #f7f5f580;
    padding: 10px;
    border-radius: 10px;
  }
  
  .comment-actions {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .comment-actions img.heart-comment {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 5px;
    object-position: center;
  }
  
  .comment-actions img.heart-comment.liked {
    content: url('/img/coracao-vermelho.png'); /* Ícone de coração vermelho quando curtido */
  }
  
  .likes-count {
    font-size: 14px;
    color: #888;
  }
  
  /* Input de comentário no modal */
  .addComments-modal {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #ddd;
  }
  
  .addComments-modal .text-modal {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    font-size: 16px;
  }
  
  .addComments-modal .send-btn {
    background-color: #ffffff;
    border: 2px solid #2e8b57;
    color: #2e8b57;
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px;
  }  

  .addComments-modal .send-btn:hover {  
    background-color: #2e8b57;
    color: #fff;
}

/* Estilos básicos do modal de campanha */
.campaign-modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .campaign-modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  
  /* Estilo para o lado esquerdo do modal */
  .campaign-modal-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .campaign-modal-img {
    width: 80%;
    height: 320px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .campaign-profile-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  /* Estilo para o lado direito do modal */
  .campaign-modal-right {
    width: 55%;
  }
  
  .campaign-modal-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .campaign-modal-subtitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .campaign-modal-description {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .campaign-highlight-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .campaign-period {
    font-size: 1rem;
    font-style: italic;
  }
  
  /* Estilo do botão de fechar */
  .campaign-close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
  }
  
/* Responsividade */
@media (max-width: 768px) {
    .wrapper .top_navbar .top_menu .logo img {
        width: 140px;
        height: 50px;
    }

    .wrapper .sidebar {
        width: 70px;
    }

    .wrapper .main_container {
        width: calc(100% - 70px);
        margin-left: 70px;
    }

    .wrapper.collapse .main_container {
        width: calc(100% - 70px);
        margin-left: 70px;
    }

    .wrapper .top_navbar .top_menu ul li a {
        width: 25px;
        height: 25px;
    }

    .card-postagem {
        width: 100%;
        padding: 15px;
    }

    .imgBg {
        height: 300px;
    }

    .wrapper .container-right {
        display: none;
    }

    .wrapper .sidebar ul li a{
        text-align: center;
    }

    .wrapper .sidebar ul li a span.icon{
        margin: 0;
    }
    
    .wrapper .sidebar ul li a span.title{
        display: none;
    }

}


@media (max-width: 480px) {
    .wrapper .top_navbar .top_menu .logo img {
        width: 100px;
        height: 25px;
    }

    .wrapper .main_container {
        padding: 10px;
    }

    .wrapper .top_navbar .top_menu ul li a {
        width: 20px;
        height: 20px;
    }

    .card-postagem {
        padding: 10px;
    }

    .imgBg {
        height: 200px;
    }

    .wrapper.collapse .container-right {
        display: none;
    }
}