body {
    
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: inherit;
}

.wrapper {
    padding: 10px;
}

.wrapper .top_navbar {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.wrapper .top_navbar .hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    background-color: #37518a;
    padding: 10px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

.wrapper .top_navbar .hamburguer div {
    width: 30px;
    height: 4px;
    background: #8f9dbc;
    margin: 5px 0;
    border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
    width: calc(100% - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.wrapper .top_navbar .top_menu .logo img {
    width: 200px;
    height: 50px;
    margin-top: 5px;
}

.wrapper .top_navbar .top_menu .user{
    position: relative;
}

.wrapper .top_navbar .top_menu .user img{
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    transition: background 0.3s ease;
    cursor: pointer;
    border: 3px solid #8faff3;
}

.dropdown-menu {
    position: absolute;
    top: 105%; /* Exatamente abaixo do .user */
    left: 50%; /* Centraliza o dropdown em relação à imagem */
    transform: translateX(-80%); /* Ajusta para alinhar exatamente ao centro */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Inicialmente escondido */
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    min-width: 120px;
    transition: all 0.3s ease;
    z-index: 1000;
}

.dropdown-menu a {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: background 0.2s;
}

.dropdown-menu a i {
    margin-right: 8px;
    font-size: 16px;
    color: #37518a;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.user:hover .dropdown-menu {
    display: flex; /* Exibe o menu ao passar o mouse */
    opacity: 1;
}

.wrapper .top_navbar .top_menu ul {
    display: flex;
}

.wrapper .top_navbar .top_menu ul li a {
    display: block;
    margin: 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #37518a;
    text-align: center;
    border-radius: 50%;
    color: #37518a;
    transition: all 0.3s ease;
    margin-top: 5px;
}

.wrapper .top_navbar .top_menu ul li a:hover {
    background: #37518a;
    color: #fff;
}

.wrapper .sidebar{
    position: fixed;
    top: 60px;
    left: 0px;
    background: #37518a;
    width: 210px;
    height: 100%;
    transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #8f9dbc;
    list-style: none;
    text-decoration: none;
    white-space: nowrap;
}

.wrapper .sidebar ul li a::before{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    background: #8f9dbc;
    display: none;
}

.wrapper .sidebar ul li a span.icon{
    margin-right: 10px;
    display: inline-block;

}

.wrapper .sidebar ul li a span.title{
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active
{
    background: #8f9dbc;
    color: #ffff;
}

.wrapper .sidebar ul li a:hover::before,
.wrapper .sidebar ul li a.active::before
{
    display: block;
}

.wrapper.collapse .sidebar {
    width: 70px;
}

.wrapper.collapse .main_container {
    width: calc(100% - 220px);
    margin-left: 220px;
}

.wrapper.collapse .sidebar ul li a{
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon{
    margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
    display: none;
}

.wrapper .main_container{
    width: calc(100% - 200px);
    margin-top: 50px;
    margin-left: 200px;
    padding: 15px;
    transition: all 0.3s ease;
    overflow: hidden;
    background: #ffffff;
    align-items: center;
}

.header-campanhas {
    display: flex;
    justify-content: space-between; /* Empurra o botão para a direita */
    align-items: center; /* Alinha o título e o botão verticalmente */
    margin-bottom: 10px; /* Espaçamento inferior entre o título/botão e o restante da página */
}

.header-campanhas h3 {
    margin: 0; 
    font-size: 25px;/* Remove margens extras do título */
}

.header-campanhas button {
    background-color: #28a745; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 5px;
    padding: 10px 15px; /* Tamanho do botão */
    cursor: pointer;
    font-size: 16px;
    display: flex; /* Para alinhar o ícone e o texto dentro do botão */
    align-items: center;
}

.header-campanhas button i {
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

.header-campanhas button:hover {
    background-color: #218838; /* Cor ao passar o mouse */
}

.campanhas {
    margin-top: 20px;
    max-height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; /* Desativa a rolagem vertical */
    padding: 0; /* Remove o padding */
   
    /* Cor da scrollbar e do background da scrollbar */
    white-space: nowrap; /* Garante que os cards não quebrem para uma nova linha */
}

/* Estiliza a scrollbar no Chrome, Edge, Safari */
.campanhas::-webkit-scrollbar {
    height: 0px; /* Altura da scrollbar */
}

/*
.campanhas::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
}

.campanhas::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

.campanhas::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da scrollbar 
}
    */

/* Itens dentro do container */
.campanhas .card {
    min-width: 300px; /* Define a largura mínima para os cards */
    flex-shrink: 0; /* Impede que os cards diminuam de tamanho */
    width: 300px;
    display: block;
    height: 270px;
    line-height: auto;
    background: white;
    margin-right: 10px;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    opacity: 1;
    
    transition: opacity 0.4s ease, transform 0.4s ease;
    overflow: hidden; /* Garante que o conteúdo que ultrapassa o card seja escondido */
    box-sizing: border-box; /* Inclui padding e borda dentro da largura */
}

/*.card.active .image img{
    opacity: 0.5;
    transform: scale(1.1);
}*/

.card .image{
    background: transparent;
    height: 330px;
    overflow: hidden;
}

/* Estado final com a animação */
.campanhas .card.active {
    opacity: 1;
    transform: scale(1) translateY(0); /* Estado final com escala e posição normal */
}

.campanhas .card.card-initial {
    transform: scale(0.95) translateY(10px); /* Estado inicial com leve escala e deslocamento */
    transition: opacity 0.4s ease, transform 0.4s ease;
}

/* Atributos para a imagem quando o card é ativo */
.card.active .image img {
    opacity: 0.5;
    transform: scale(1.05);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.card .content{
    position: absolute;
    bottom: 0px;
    background: white;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
}

.content .title{
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}

.content .sub-title{
    font-size: 12px;
    font-weight: 700;
    color: #3c64e7;
    margin-bottom: 5px;
}

.bottom p{
    color: #303030;
    font-size: 13px;
    text-align: justify;
    line-height: 1.5em;
    word-wrap: break-word; /* Permite a quebra de linha para palavras longas */
    word-break: break-word; /* Garante que as palavras grandes também quebrem */
    overflow-wrap: break-word; /* Garante que o conteúdo não "estoure" */
    max-width: 100%; /* Garante que o parágrafo não ultrapasse a largura do card */
    box-sizing: border-box;
    overflow: hidden; /* Oculta qualquer parte do texto que ultrapasse o limite do card */
    white-space: normal; /* Garante que o texto quebre em várias linhas */
    text-overflow: ellipsis; /* Trunca o texto se for muito longo */
}

.bottom button{
   padding: 7px 12px;
   font-size: 15px;
   background: #37518a;
   color: white;
   font-weight: 500;
   border: none;
   margin: 10px 0;
   cursor: pointer;
   transition: 0.3s ease;
   
   border-radius: 5px;
   flex-direction: row;
}

.bottom .delete-button{
    background: #c01a22;
    color: white;
}

.bottom .delete-button:hover{
    transform: scale(1);
    background: #c01a2298;
}

.bottom .row{
    flex-direction: row;
    gap: 15px; 
    justify-content: flex-start;
}

.bottom button i{
    margin-right: 5px;
}

.bottom button:hover{
    transform: scale(1);
    background: #147cdd;
}

.bottom{
    display: none;
}

/*post-convite*/

.post-convite{
    padding: 7px 15px;
}

.post-convite .titulo{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}

.post-convite p{
    font-size: 16px;
    text-align: justify;
}

.post-convite button{
    padding: 9px 14px;
   font-size: 15px;
   background: #37518a;
   color: white;
   font-weight: 500;
   border: none;
  
   cursor: pointer;
   transition: 0.3s ease;
   border-radius: 5px;
   margin-top: 20px;
}

.post-convite button:hover{
    transform: scale(1);
    background: #3390e6;
}

.post-convite button i {
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

/*modais*/
/* Estilos para o Modal de Exclusão */
.modal-delete {
    display: none; /* Oculto por padrão */
    position: fixed; /* Fica sobreposto à página */
    z-index: 1000; /* Acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

.modal-content-delete {
    position: absolute; /* Posiciona dentro do modal */
    top: 50%; /* Move para o meio verticalmente */
    left: 50%; /* Move para o meio horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centralizar */
    background-color: #fff; /* Cor de fundo branca */
    padding: 20px; /* Espaçamento interno */
    border-radius: 5px; /* Cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra do modal */
}

.modal-content-delete h2 {
    margin: 0 0 10px; /* Margem inferior */
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
}

.modal-content-delete p {
    margin: 0 0 20px; /* Margem inferior */
    font-size: 1rem; /* Tamanho da fonte */
    color: #555; /* Cor do texto */
}

.modal-buttons-delete {
    display: flex; /* Usar flexbox para os botões */
   justify-content: right; /* Espaço entre os botões */
}

.modal-buttons-delete button {
    padding: 10px 20px; /* Espaçamento interno dos botões */
    border: none; /* Remove borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor pointer para indicar que é clicável */
}

.modal-buttons-delete .cancel {
    background-color: #37518a; /* Vermelho para o botão Cancelar */
    color: white; /* Texto branco */
}

.delete-campaign {
    background-color: #801818; /* Verde para o botão Excluir */
    color: white; /* Texto branco */
}

/* Estilos para a mensagem de sucesso */
.success-message {
    display: none; /* Oculto por padrão */
    background-color: #4CAF50; /* Verde para a mensagem de sucesso */
    color: white; /* Texto branco */
    padding: 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    margin: 10px 0; /* Margem superior e inferior */
    text-align: center; /* Centraliza o texto */
}

/* Para tornar o modal responsivo */
@media (max-width: 500px) {
    .modal-content-delete {
        width: 95%; /* Largura máxima em telas pequenas */
    }
}


.modal-buttons button {
    padding: 10px 20px;
   
  
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.modal-buttons button i {
    margin-right: 5px;
}

#modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    width: 80%;
    max-width: 800px;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 3000; /* Conteúdo do modal com z-index maior que o fundo */
}

.modal-left {
    flex: 1;
    padding-right: 20px;
    border-right: 1px solid #ddd;
}

.modal-left h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal-left p {
    font-size: 14px;
    margin-bottom: 20px;
}

.modal-left p span{
    color: #28a745;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;

}

.file-label {
    display: inline-block;
    padding: 15px 27px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #147cdd;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.file-label:hover {
    background-color: #bbbbbb48;
}

.imagemCampanha {
    display: none;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-position: center; 
    object-fit: cover;
}

.image-preview {
    margin-top: 20px;
    width: 100%;
    height: 400px;
    border: 2px solid #ddd;
    display: flex;
    justify-content:left;
    background-color: #f9f9f9;
    overflow: hidden;
    border-radius: 10px;
}

.edit-image-preview{
    margin-top: 20px;
    width: 100%;
    height: 300px;
    border: 2px solid #ddd;
    display: flex;
    justify-content:left;
    background-color: #f9f9f9;
    overflow: hidden;
    border-radius: 10px;
}

.edit-image-preview img{
    width: 100%;
    height: 100%;
    object-position: center; 
    object-fit: cover;
}

.modal-right {
    flex: 1;
    padding-left: 20px;
}

.modal-right form {
    display: flex;
    flex-direction: column;
}

.modal-right label {
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-right input, 
.modal-right textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.modal-right textarea {
    height: 100px;
    resize: none;
}

.modal-buttons {
    display: flex;
    justify-content: right;
}

.cancel {
    border: 2px solid #37518a;
    color: #37518a;
    background-color: white;
    margin-right: 10px;
}

.submit {
    background-color: #37518a;
    color: white;
    border: none;
}

.cancel, .submit {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    
}

.submit:hover{
    background-color: #1d81df;
}

.cancel:hover{
    background-color: #37518a;
    color: white;
}

/* Estilos para o modal da publicação */
.post-modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .post-modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    width: 60%; /* Reduzindo a largura total do modal */
    max-width: 900px; /* Definindo um limite máximo de largura */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .post-modal-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .post-left-section {
    flex: 0 0 100%; /* Ocupa 40% da largura do modal */
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .post-right-section label{
    text-align: left;
  }
  
  /* Área de visualização da imagem - Mantém proporções */
.post-image-preview {
    width: 100%;
    height: 300px; /* Definido para uma altura menor */
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .post-image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* A imagem vai cobrir todo o quadrado sem distorcer */
    border-radius: 8px;
  }
  
  /* Botão de upload de imagem */
  .post-image-label {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .post-right-section {
  flex: 0 0 50%; /* Ocupa 60% da largura do modal */
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
  #postDescription {
    width: 95%;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    z-index: 1;
    background-color: transparent;
    position: relative;
    color: #333;
    margin-top: 10px;
  }
  
  .post-hashtags {
    margin-top: 10px;
    
  }
  
  .post-hashtags button {
    margin-right: 5px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #147cdd;
    color: #0a3d6d;
    cursor: pointer;
  }

  .post-hashtags button:hover {
    background-color: #147cdd;
    color: white;
  }
  
  .post-action-buttons {
    margin-top: 20px;
    display: flex;
    justify-content:right;
    margin-right: 5px;
  }
  
  .post-action-buttons button {
    margin-right: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .post-cancel-btn {
    background-color: white;
    border: 1px solid #147cdd;
    color: #0a3d6d;
  }
  
  .post-send-btn {
    background-color: #147cdd;
    color: white;
    border: none;
  }
  
  .post-cancel-btn:hover {
    background-color: #147cdd;
    color: white;
  }

  .post-send-btn:hover {
    background-color: #147cdd6c;
  }

  .post-close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
  }
  
  .post-close:hover,
  .post-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Para garantir que o modal seja centralizado na tela */
  .post-modal-content {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #editModal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  #no-campaigns-message{
    align-items: center;
    font-weight: 600;
    transform: translateX(90%);
  }