body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: inherit;
}
.wrapper .top_navbar {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.wrapper .top_navbar .hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    background-color: #37518a;
    padding: 10px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

.wrapper .top_navbar .hamburguer div {
    width: 30px;
    height: 4px;
    background: #8f9dbc;
    margin: 5px 0;
    border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
    width: calc(100% - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.wrapper .top_navbar .top_menu .logo img {
    width: 200px;
    height: 50px;
    margin-top: 5px;
}

.wrapper .top_navbar .top_menu .user{
    position: relative;
}

.wrapper .top_navbar .top_menu .user img{
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    transition: background 0.3s ease;
    cursor: pointer;
    border: 3px solid #8faff3;
}

.dropdown-menu {
    position: absolute;
    top: 105%; /* Exatamente abaixo do .user */
    left: 50%; /* Centraliza o dropdown em relação à imagem */
    transform: translateX(-80%); /* Ajusta para alinhar exatamente ao centro */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Inicialmente escondido */
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    min-width: 120px;
    transition: all 0.3s ease;
    z-index: 1000;
}

.dropdown-menu a {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: background 0.2s;
}

.dropdown-menu a i {
    margin-right: 8px;
    font-size: 16px;
    color: #37518a;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.user:hover .dropdown-menu {
    display: flex; /* Exibe o menu ao passar o mouse */
    opacity: 1;
}

.dropdown-menu button{
    background-color: transparent;
    border: none;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    transition: background 0.2s;
    width: 100%;
}

.dropdown-menu button i {
    margin-right: 8px;
    font-size: 16px;
    color: #37518a;
}


.wrapper .top_navbar .top_menu ul {
    display: flex;
}

.wrapper .top_navbar .top_menu ul li a {
    display: block;
    margin: 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #37518a;
    text-align: center;
    border-radius: 50%;
    color: #37518a;
    transition: all 0.3s ease;
    margin-top: 5px;
}

.wrapper .top_navbar .top_menu ul li a:hover {
    background: #37518a;
    color: #fff;
}

.wrapper .sidebar{
    position: fixed;
    top: 60px;
    left: 0px;
    background: #37518a;
    width: 210px;
    height: 100%;
    transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #8f9dbc;
    list-style: none;
    text-decoration: none;
    white-space: nowrap;
}

.wrapper .sidebar ul li a::before{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    background: #8f9dbc;
    display: none;
}

.wrapper .sidebar ul li a span.icon{
    margin-right: 10px;
    display: inline-block;

}

.wrapper .sidebar ul li a span.title{
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active
{
    background: #8f9dbc;
    color: #ffff;
}

.wrapper .sidebar ul li a:hover::before,
.wrapper .sidebar ul li a.active::before
{
    display: block;
}

.wrapper.collapse .sidebar {
    width: 70px;
}

.wrapper.collapse .main_container {
    width: calc(100% - 220px);
    margin-left: 220px;
}

.wrapper.collapse .sidebar ul li a{
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon{
    margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
    display: none;
}

.header__wrapper{
    width: calc(100% - 210px);
    margin-top: 50px;
    margin-left: 210px;
    transition: all 0.3s ease;
    overflow: hidden;
    background: #ffffff;
}

.header__wrapper header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

.header__wrapper header{
    position: relative; /* Para posicionar o ícone */
    width: 100%;
    background-size: cover; /* Garante que a imagem cubra toda a área */
    background-color: rgba(77, 75, 75, 0.8); /* Cor de fundo inicial */
    transition: background-color 0.3s ease; /* Transição suave para o hover */
    min-height: calc(100px + 16vh);
}

.header__wrapper header:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo ao passar o mouse */
}

.edit-icon {
    position: absolute; /* Posiciona o ícone no centro */
    top: 50%; /* Centro vertical */
    left: 50%; /* Centro horizontal */
    transform: translate(-50%, -50%); /* Centraliza o ícone */
    font-size: 40px; /* Tamanho do ícone */
    color: white; /* Cor do ícone */
    cursor: pointer; /* Cursor de ponteiro */
    z-index: 1; /* Para garantir que o ícone fique acima da imagem de fundo */
    transition: color 0.3s ease; /* Transição suave para o hover do ícone */
}

.header__wrapper header:hover .edit-icon {
    color: #2a6fee; /* Cor do ícone ao passar o mouse */
}

.header__wrapper .cols__container .left__col{
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}

.header__wrapper .cols__container .left__col .img__container{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.header__wrapper .cols__container .left__col .img__container img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.header__wrapper .cols__container .left__col .img__container span{
    position: absolute;
    background: #2afa6a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;
}

.header__wrapper .cols__container .left__col h2{
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
}

.header__wrapper .cols__container .left__col p{
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
}

.header__wrapper .cols__container .left__col .about{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
}

.header__wrapper .cols__container .left__col .about li{
    display: flex;
    align-items: center;
    color: #818181;
    font-size: 0.9rem;
}

.header__wrapper .cols__container .left__col .about li span{
    color: #1d1d1d;
    font-weight: 600;
    margin-right: 5px;
}

.header__wrapper .cols__container .left__col .about::after{
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #ccc;
    height: 1px;
    width: 100%;
}

.header__wrapper .cols__container .content p{
    font-size: 1rem;
    color: #1d1d1d;
    line-height: 1.8rem;
}

.header__wrapper .cols__container .content ul{
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    display: flex;
}

.header__wrapper .cols__container .content ul li{
   font-size: 1.3rem; 
}

.header__wrapper .cols__container .right__col nav{
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
}

/* Estilo base para os links da navbar */
nav a {
    text-decoration: none; /* Remove o sublinhado */
    color: #333; /* Cor do texto padrão */
    padding: 10px 15px; /* Espaçamento interno dos links */
    position: relative; /* Para o posicionamento do pseudo-elemento */
    display: inline-block; /* Permite que a borda se posicione corretamente */
    font-size: 16px; /* Tamanho da fonte */
    transition: color 0.3s ease; /* Transição suave para a cor do texto */
}

nav a::after {
    content: '';
    position: absolute; /* Posiciona a borda relativa ao link */
    left: 0;
    bottom: 0; /* Ajusta a borda para tocar a parte inferior */
    width: 0; /* Inicialmente a largura é zero */
    height: 2px; /* Espessura da borda */
    background-color: #3961e6; /* Cor da borda */
    transition: width 0.3s ease-in-out; /* Animação suave para a borda */
}

/* Estilo para o link ativo - borda visível */
nav a.active::after {
    width: 100%; /* Expande a borda em 100% da largura */
}

/* Estilo para o link ativo (cor do texto) */
nav a.active {
    color: #3961e6; /* Muda a cor do texto quando ativo */
}

.header__wrapper .cols__container .right__col nav ul{
    display: flex;
    gap: 20px;
    flex-direction: column;
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão */
}

.header__wrapper .cols__container .right__col nav ul li a{
    text-transform: uppercase;
    color: #818181;
}

.header__wrapper .cols__container .right__col nav button{
    background: #0091ff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.header__wrapper .cols__container .right__col nav ul li:nth-child(1) a{
    color: #1d1d1d;
    font-weight: 600;
}

.header__wrapper .cols__container .right__col nav button:hover{
    opacity: 0.8;
}

.header__wrapper .cols__container .right__col .photos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 5px;
}

.header__wrapper .cols__container .right__col .photos img{
    max-width: 100%;
    display: block;
    height: 80%;
    object-fit: cover;
    border-radius: 5px;
}

/* Modal */
.modal {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-content button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    border:1px solid #37518a;
    color: #37518a;
    background: #ffff;
    cursor: pointer;
}

.modal-content button#cancelar-exclusao {
    background-color: #37518a;
    color: #fff;
}

/* Container de Configurações */
#configuracoes {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

#configuracoes p {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}

#configuracoes button {
    background-color: #e63946;
    color: #fff;
    border: none;
    padding: 12px 25px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

#configuracoes button:hover {
    background-color: #d32f2f;
}

#configuracoes button#cancelar-exclusao {
    background-color: #6c757d;
}

#configuracoes button#cancelar-exclusao:hover {
    background-color: #5a6268;
}

/*responsividade*/
@media (min-width: 868px) {
    .header__wrapper .cols__container {
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }

    .header__wrapper .cols__container .left__col{
        padding: 25px 0;
    }

    .header__wrapper .cols__container .right__col nav ul{
        flex-direction: row;
        gap: 30px;
    }

    .header__wrapper .cols__container .right__col .photos{
        height: 365px;
        overflow: auto;
        padding: 0 0 30px;
    }
}

@media (min-width: 1017px){
    .header__wrapper .cols__container .left__col {
        margin: 0;
        margin-right: auto;
    }

    .header__wrapper .cols__container .right__col nav{
        flex-direction: row;
    }

    .header__wrapper .cols__container .right__col nav button{
        margin-top: 0;
    }
}